---
pageName: Sarah's blog
---

<!DOCTYPE html>
<html lang="en">
{% include './blocks/head' %}
<body>
<header>
    <div class="menu">
        <div class="menu-start">
            <h1 style="margin-right: 1em;">Sarah's blog</h1>
            <a href="/">Home</a>
            <a href="/en/articles/">Articles</a>
        </div>
        <div class="menu-end">
            <label>
                Theme
                <select id="dark-mode-select">
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                    <option value="weird">Weird</option>
                </select>
            </label>
            <a href="/tok/">
                o tawa lipu pi toki pona
            </a>
        </div>
    </div>
    <hr />
</header>
<main>
    {{ content }}
</main>
{% include './blocks/footer' %}
<script src="/scripts/darkMode.js"></script>
<script>initDarkMode('Dark mode', 'Light mode', 'Weird mode');</script>
</body>
</html>
