---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lipu pi jan Sewa{% if title %} | {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="menu">
        <div class="menu-start">
            <h1 style="margin-right: 1em;">lipu pi jan Sewa</h1>
            <a href="/tok/">tomo</a>
            <a href="/tok/lipu/">lipu ale</a>
        </div>
        <div class="menu-end">
            <label>
                kule lipu
                <select id="dark-mode-select">
                    <option value="dark">pimeja</option>
                    <option value="light">walo</option>
                    <option value="weird">nasa</option>
                </select>
            </label>
            <a href="/">
                Read in English
            </a>
        </div>
    </div>
    <hr />
</header>
<main>
    {{ content }}
</main>
<footer>
    <hr />
    <div class="neocities-logo">
        <a href="https://neocities.org">
            <img src="/img/neocities.png" alt="Hosted by NeoCities" />
        </a>
    </div>
</footer>
<script src="/scripts/darkMode.js"></script>
<script>initDarkMode('o pimeja', 'o walo', 'o nasa');</script>
</body>
</html>
