<head>
    <meta charset="UTF-8">
    <title>{{ pageName }}{% if title %} | {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preload" as="style" href="/prism-material-light.css">
    <link rel="preload" as="style" href="/prism-a11y-dark.css">
    <link rel="preload" as="style" href="/prism-synthwave84.css">
    <link id="prism-theme" rel="stylesheet">
</head>
